---
layout: default
---

<div class="mdl-grid" id="overview">

    <section class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Informatie</h2>
        </div>
        <!--<div class="mdl-card__media">
                    ...
        </div>-->
        <div class="mdl-card__supporting-text">
            Als je net begint in de wereld van de Japanse popcultuur weet je misschien de grote conventies te vinden,
            maar weet je ook wat er allemaal te doen is buiten de conventies? Of wil je een conventie bezoeken, maar
            heb je geen idéé wat je nu kunt verwachten? Of wat je mee moet nemen?
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="#" class="mdl-button mdl-button--colored">CTA Informatie</a>
        </div>
    </section>

    <section class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Updates</h2>
        </div>
        <!--<div class="mdl-card__media">
                    ...
        </div>-->
        <div class="mdl-card__supporting-text">
            Tekst updates
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="#" class="mdl-button mdl-button--colored">Lees onze updates</a>
        </div>
    </section>

    <section class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp">
            <!--<div class="mdl-card mdl-shadow--2dp">-->
                <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Leden</h2>
                </div>
                <!--<div class="mdl-card__media">
                            ...
                </div>-->
                <div class="mdl-card__supporting-text">
                    Ons ledenbestand bestaat uit non-profit organisaties die de Japanse popcultuur promoten in Nederland.
                    Hoewel onze meest bekende leden waarschijnlijk conventies zijn, bestaat ons ledenbestand ook uit 
                    organisaties als de stichting MangaKissa en kleinere verenigingen.
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a href="#" class="mdl-button mdl-button--colored">Wie zijn onze leden?</a>
                </div>
            <!--</div>-->
        </section>
</div>