---
layout: default
---

<div class="mdl-grid" id="overview">

    <section class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Informatie</h2>
        </div>
        <div class="mdl-card__media" style="background: url(images/homepage/leden.jpg) center / cover; height: 176px;">
        </div>
        <div class="mdl-card__supporting-text">
            Als je net begint in de wereld van de Japanse popcultuur weet je misschien de grote conventies te vinden,
            maar weet je ook wat er allemaal te doen is buiten de conventies? Of wil je een conventie bezoeken, maar
            heb je geen idéé wat je nu kunt verwachten? Of wat je mee moet nemen?
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="#" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">CTA Informatie</a>
        </div>
    </section>

    <section class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Leden</h2>
        </div>
        <div class="mdl-card__media" style="background: url(images/homepage/leden.jpg) center / cover; height: 176px;">
        </div>
        <div class="mdl-card__supporting-text">
            Ons ledenbestand bestaat uit non-profit organisaties die de Japanse popcultuur promoten in Nederland.
            Hoewel onze meest bekende leden waarschijnlijk conventies zijn, bestaat ons ledenbestand ook uit 
            organisaties als de stichting MangaKissa en kleinere verenigingen.
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="#" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Wie zijn onze leden?</a>
        </div>
    </section>
    
    <section class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Updates</h2>
        </div>
        <div class="mdl-card__media" style="background: url(images/homepage/leden.jpg) center / cover; height: 176px;">
        </div>
        <div class="mdl-card__supporting-text">
            Buiten deze website zijn we ook actief op Facebook. Hier delen we updates van onze leden en andere
            organisaties welke actief zijn in de promotie van Japanse popcultuur. 
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="https://www.facebook.com/AnigendaNL/" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Ga naar onze Facebook</a>
        </div>
    </section>

</div>

<section class="section--center mdl-grid mdl-grid--no-spacing">
    <div class="mdl-cell mdl-cell--12-col">
        <h2>Wie zijn wij</h2>
        <p class="intro">
            Wij zijn de Anigenda, van origine zijn wij een overleg platform voor non-profit organisaties die de
            Japanse popcultuur promoten in Nederland. Denk hierbij aan anime, manga maar ook figuren verzamelen
            en zelfs modelbouw van gigantische robots.
        </p>
        <p>
            Hier meer tekst, met netjes een &lt;p&gt; tag per paragraaf
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam facilisis, ante id lobortis accumsan, 
            mauris sapien facilisis arcu, sed tincidunt justo sapien eget lorem. Donec sollicitudin sed leo non 
            vulputate. Fusce facilisis aliquet ipsum, vel sagittis arcu finibus a. Praesent eget massa quam. Quisque 
            posuere lectus volutpat, imperdiet arcu sed, convallis lacus. In scelerisque interdum auctor. Mauris sagittis 
            maximus neque, non maximus nisi varius quis.
        </p>
        <p>
            Quisque sed arcu velit. Fusce tincidunt fermentum dictum. Ut non mi elit. In hac habitasse platea dictumst. 
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Class aptent taciti 
            sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut et lacus sed dolor mattis porta. 
            Etiam ultrices ante eu urna pharetra dapibus. Vestibulum nisl sem, tincidunt et neque blandit, sagittis laoreet nunc. 
            Nullam facilisis volutpat massa sed mollis. In vitae varius dui. Vestibulum vehicula vestibulum volutpat. Aliquam sed 
            magna ac risus sollicitudin bibendum. Phasellus eget nulla in sem euismod porta.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In congue ex velit, in rhoncus metus ullamcorper semper. 
            Suspendisse lacinia metus sollicitudin interdum pulvinar. Maecenas a pellentesque lorem, vel elementum nisl. Donec id 
            arcu et magna varius pretium in non leo. Phasellus et sollicitudin erat. Donec commodo quam elementum mauris vestibulum 
            aliquet. Aenean placerat augue et cursus mollis. Phasellus pulvinar dictum eros, in suscipit orci sollicitudin et. 
            Maecenas eget interdum sapien, nec ultricies magna. Nunc ac diam ac justo rhoncus ullamcorper. Maecenas varius mauris ac 
            justo eleifend, nec auctor ex efficitur. Quisque pretium placerat nunc vitae tincidunt. Sed quis tortor quam. Suspendisse 
            potenti.
        </p>
    </div>
</section>